<div class="container">
  <div class="card">
    <h2 class="card-body text-center">Edit post</h2>
    <div class="card-body">
      <%= render partial:'form', locals: {post: @post} %>
    </div>
  </div>
</div>
